* {
  margin: 0;
  padding: 0;
}

.bambam {
  background-image: linear-gradient(#070c3d, #100436);
  height: 2235px;
}

.bimbim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-size: cover;
  height: 1400px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e1dddd;
  height: 600px;
  width: 600px;
  border-radius: 33px;
  border: 1px solid #000;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.25);
}

.card img {
    position: relative;
    border: 1px solid #000;
    top: -100px;
    border-radius: 50%;
    /* translate: -100% 0 0; */
    height: 200px;
    width: 230px;
}

.name{
    display: flex;
    align-content: flex-start;
    font-family: 'JetBrains Mono', monospace;
    font-size: 24px;
    letter-spacing: 0.4em;
    font-weight: bold;
}


.func{
    display: flex;
    align-content: flex-start;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 0.1em;
    margin-bottom: 35px;
}

.intro {

    font-family: 'JetBrains Mono', monospace;
    margin: 8% 10% 20% 10%;
    
}

/* botao */

.skills {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #ffffff;
    z-index: 1;
    width: 70%;
    background: #100436;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .skills::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #dd5c5c;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .skills:hover {
    color: #e8e8e8;
   }
   
   .skills:hover::before {
    width: 100%;
   }


